mongoRAG-broen-img-dev DEBUG kasper copy.json
{
  "name": "mongoRAG-broen-img-dev DEBUG kasper copy",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').first().json.chatInput }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are BROEN-LAB's Technical Information assistant. You help users by answering questions based on retrieved technical documentation.\n\nCONTEXT:\nYou have been provided with relevant technical documents that were retrieved specifically for the user's question: \"{{ $('When chat message received').first().json.chatInput }}\"\n\nThe retrieved documents are available in the following data:\n{{ $json.text }}\n\nHARD RULES:\n- Answer ONLY using information from the provided retrieved documents above\n- Do NOT use any outside knowledge or make assumptions\n- If the retrieved documents don't contain the answer, say so clearly\n\nRESPONSE FORMAT:\nStructure your response as follows:\n\n1. **Answer Section**: \n   - Provide a clear, comprehensive answer to the user's question\n   - Synthesize information from the retrieved documents\n   - Use natural language, not just copying text verbatim\n\n2. **Sources Section**:\n   - List all sources used, including:\n     * Document source/filename (from metadata.source_pdf)\n     * Page numbers (from metadata.pages)\n   - Format as: \"Source: [filename], Page [number]\"\n\n3. **Closing**:\n   - End with a friendly offer to answer follow-up questions\n\nEXAMPLE FORMAT:\nBased on the technical documentation, [your answer here synthesizing the information from the retrieved documents].\n\n**Sources:**\n- Source: Technical-information-TI02.pdf, Page 2\n- Source: Technical-information-TI14.pdf, Page 1\n\nIs there anything else you'd like to know about this topic?\n\nIMPORTANT:\n- If multiple documents provide relevant information, synthesize them into a cohesive answer\n- Always cite your sources at the end\n- Stay focused on the user's specific question\n- If the documents don't contain the answer, respond: \"I don't have information about that in the retrieved technical documents. Please rephrase your question or ask about a different topic covered in BROEN-LAB documentation.\""
        }
      },
      "id": "a777efd8-9b73-4118-ac49-b908e71e06eb",
      "name": "Knowledge Base Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        672,
        272
      ],
      "typeVersion": 1.9
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {
          "temperature": 0.7,
          "topP": 1
        }
      },
      "id": "77c63650-b192-4f31-8d60-f7dfea0d46e3",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        624,
        528
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "R6PspiooE29iMhkJ",
          "name": "OpenAI-n8nSelfHost"
        }
      }
    },
    {
      "parameters": {
        "content": "This workflow uses retrieval-augmented generation (RAG) to answer user questions by searching the MongoDB vector store and generating AI responses with context.\n\nThe DB, Collection and Indexwere created using the BROKEn mongodb-rag app. I have proven they fucked it up .. and sadly I will not get a reward form those assholes.\n",
        "height": 272,
        "color": 4
      },
      "id": "640108d1-5a08-4182-9503-e8f089f6bb67",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -256,
        -80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### To Do\n\n- Change to \"Webhook\" as output and not last exec\n- Edit Fields so text is nice\n- maybe n8n forcibly makes it difficult to just send anythign to the n8nchta.\n",
        "height": 272,
        "color": 4
      },
      "id": "c438267f-dc74-4a01-9bdd-367a64e03582",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        64,
        -80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cohere.ai/v1/rerank",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "cohereApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify($json)}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -224,
        480
      ],
      "id": "2676cfd7-4230-4032-a759-6f057df38986",
      "name": "Cohere Reranker",
      "credentials": {
        "oAuth2Api": {
          "id": "xKngbDAOTUFuhGXq",
          "name": "SecondBrainAgent-UserFileAccess"
        },
        "cohereApi": {
          "id": "aETqxtTbOMgWinyR",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the chat input\nconst query = $('When chat message received').first().json.chatInput;\n\n// Get documents from MongoDB results\nconst documents = $input.all().map(item => item.json.text);\n\n// Build the request body\nreturn [{\n  json: {\n    model: \"rerank-english-v3.0\",\n    query: query,\n    documents: documents,\n    top_n: 3\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        480
      ],
      "id": "42662b65-a651-4d91-9d79-cea359f4471a",
      "name": "Prepare Cohere Reranker"
    },
    {
      "parameters": {
        "jsCode": "// Get the reranked results from Cohere\nconst rerankedResults = $input.first().json.results;\n\n// Get the original MongoDB documents\nconst mongoResults = $('Aggregate documents').all();\n\n// Map the reranked indices back to the original documents\nconst topDocuments = rerankedResults.map(result => {\n  const originalDoc = mongoResults[result.index].json;\n  \n  return {\n    text: originalDoc.text,\n    metadata: originalDoc.metadata,\n    binary: originalDoc.binary,\n    document_id: originalDoc.document_id,\n    chunk_index: originalDoc.chunk_index,\n    _id: originalDoc._id,\n    mongoScore: originalDoc.score,\n    rerankScore: result.relevance_score,\n    rerankIndex: result.index\n  };\n});\n\n// Return the top documents\nreturn topDocuments.map(doc => ({ json: doc }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        480
      ],
      "id": "ce107b1e-9013-4a64-984d-60ca9fe68451",
      "name": "Map Reranker"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9788c053-029c-4cdc-9dbc-7258124f6118",
              "name": "text",
              "value": "={{ $json.textData }}",
              "type": "string"
            },
            {
              "id": "02952d6b-8b8a-49de-a0f5-6cd3c7a12575",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        400
      ],
      "id": "e15f5e0b-367e-4b23-a6a5-11c0ddeaffda",
      "name": "Text"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "11fd83ba-015c-44c4-97f3-26ec113e6c75",
              "name": "Images",
              "value": "={{ $json.imagesData }}",
              "type": "json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        672
      ],
      "id": "cc2c01e6-4b78-4897-8641-e972eb0fc52b",
      "name": "Images"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1424,
        656
      ],
      "id": "cf29b965-20cb-4727-81b3-c031c002998d",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const documents = $input.all();\n\nconst textDataArray = [];\nconst imagesDataArray = [];\n\nconst ensureArray = (value) => (Array.isArray(value) ? value : []);\n\nconst sanitizeFigureRef = (figure, defaults) => {\n  if (!figure || typeof figure !== 'object') return null;\n  const figureId = figure.figure_id;\n  if (!figureId) return null;\n  return {\n    figure_id: figureId,\n    doc_id: figure.doc_id || defaults.docId || null,\n    caption: figure.caption ?? null,\n    image_path: figure.image_path ?? null,\n    width: figure.width,\n    height: figure.height,\n    provenance: ensureArray(figure.provenance)\n  };\n};\n\ndocuments.forEach((doc, index) => {\n  const { text, metadata = {}, _id, mongoScore, rerankScore, binary = {}, document_id } = doc.json;\n\n  const docId = metadata.doc_id || document_id || metadata.source_pdf || null;\n  const figureRefs = ensureArray(metadata.figure_refs);\n  const sanitizedFigures = [];\n  const filteredBinary = {};\n\n  figureRefs.forEach((figure) => {\n    const sanitized = sanitizeFigureRef(figure, { docId });\n    if (!sanitized) return;\n    const binaryEntry = binary && Object.prototype.hasOwnProperty.call(binary, sanitized.figure_id) ? binary[sanitized.figure_id] : undefined;\n    if (!binaryEntry) return;\n    sanitizedFigures.push(sanitized);\n    filteredBinary[sanitized.figure_id] = binaryEntry;\n  });\n\n  const sanitizedMetadata = {\n    ...metadata,\n    figure_refs: sanitizedFigures\n  };\n\n  textDataArray.push({\n    documentIndex: index,\n    text,\n    metadata: sanitizedMetadata,\n    _id,\n    mongoScore,\n    rerankScore\n  });\n\n  if (sanitizedFigures.length) {\n    imagesDataArray.push({\n      documentIndex: index,\n      _id,\n      document_id: document_id || metadata.doc_id || null,\n      source_pdf: metadata.source_pdf || null,\n      pages: ensureArray(metadata.pages),\n      metadata: sanitizedMetadata,\n      binary: filteredBinary,\n      images: sanitizedFigures\n    });\n  }\n});\n\nreturn [{\n  json: {\n    textData: textDataArray,\n    imagesData: imagesDataArray\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        480
      ],
      "id": "25df02ba-668a-4b6b-b496-2c7f6c9efc7a",
      "name": "Split Text and Images"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1632,
        656
      ],
      "id": "57f7876e-cc0f-4fe9-aece-f634651d3ea0",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "const inputItem = $input.first();\nif (!inputItem) {\n  return [];\n}\n\nconst imagesData = inputItem.json.Images;\nif (!Array.isArray(imagesData) || imagesData.length === 0) {\n  return [{ json: { type: 'images', images: [] } }];\n}\n\nreturn imagesData.map((doc) => {\n  const payload = {\n    type: 'images',\n    documentIndex: doc.documentIndex,\n    _id: doc._id,\n    document_id: doc.document_id,\n    source_pdf: doc.source_pdf,\n    pages: doc.pages,\n    metadata: doc.metadata,\n    binary: doc.binary\n  };\n\n  if (Array.isArray(doc.images) && doc.images.length > 0) {\n    payload.Images = JSON.stringify([{ documentIndex: doc.documentIndex, images: doc.images }]);\n    payload.images = doc.images;\n  }\n\n  return { json: payload };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        672
      ],
      "id": "1b1d575d-f4f5-4139-b9a4-362ae8b95894",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "aggregate",
        "collection": "TIData-img-binary-dev",
        "query": "={{JSON.stringify($json.pipeline)}}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -640,
        480
      ],
      "id": "fa49171d-2954-4328-9436-48a9f90d891c",
      "name": "Aggregate documents",
      "credentials": {
        "mongoDb": {
          "id": "sgP1wYMofNLZhuGh",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "authentication": "basicAuth",
        "initialMessages": "Hi there! 👋\nMy name is Nathan-binary-fix. How can I assist you today?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -1440,
        480
      ],
      "id": "e1f755ca-9f1a-4258-8ce2-e695d901f61d",
      "name": "When chat message received",
      "webhookId": "2548192a-4d33-4b0d-a2db-6436fc647a15",
      "credentials": {
        "httpBasicAuth": {
          "id": "afliiYXqR6uPKlLS",
          "name": "BroenLab Test Login"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.voyageai.com/v1/contextualizedembeddings",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"voyage-context-3\",\n  \"inputs\": [[\"{{$json.chatInput}}\"]],\n  \"input_type\": \"query\"\n}",
        "options": {}
      },
      "id": "630c7bd2-2f63-48b6-9bf0-447879049c8a",
      "name": "Voyage-3-Context Embeddings QUERY",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -1232,
        480
      ],
      "executeOnce": true,
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "cR9NwIpdzApCLsAe",
          "name": "VoyageAIKasper"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get embedding from Voyage-3 Embeddings node\n// const embedding = $('ccc').first().json.data[0].embedding;\nconst embeddingtemp = $('Voyage-3-Context Embeddings QUERY').first().json.data[0];\nconst embedding = embeddingtemp.data[0].embedding;\nconsole.log(embedding)\n\n\n// List of embedding nodes in priority order\n// const embeddingNodes = [\n//   'OpenAI-te3s-embeddings',\n//   'OpenAI-te3LARGE-embeddings',\n//   'Voyage-3 Embeddings DOCS',\n//   'Voyage-3 Embeddings QUERY',\n//   'Voyage-3-Context Embeddings QUERY'\n// ];\n\n// // Find the first active node\n// let embedding = null;\n// for (const name of embeddingNodes) {\n//   console.log(name)\n//   try {\n//     const node = $(name);\n//     const data = node.first().json.data?.[0]?.embedding;\n//     if (data) {\n//       embedding = data;\n//       break;\n//     }\n//   } catch (e) {\n//     // Node not executed or inaccessible — skip it\n//   }\n// }\n\n\n// Handle case where no nodes are active (optional fallback)\nif (!embedding) {\n  throw new Error('No active embedding nodes found!');\n}\n\n\n// Use \"embedding\" in your script from this point onward\n// Get parameters from Set Parameters node\n// const numCandidates = parseInt($('Set Parameters').first().json.numCandidates) || 100;\n// const limit = parseInt($('Set Parameters').first().json.limit) || 20;\nconsole.log(embedding)\n// Build the aggregation pipeline\nconst pipeline = [\n  {\n    \"$vectorSearch\": {\n      \"index\": \"vector_index_3\",\n      \"path\": \"embedding\",\n      \"queryVector\": embedding,\n      \"numCandidates\": parseInt($('Set Parameters').first().json.numCandidates) || 100,\n      \"limit\": parseInt($('Set Parameters').first().json.limit) || 20\n    }\n  },\n  {\n    \"$project\": {\n      \"text\": 1,\n      \"metadata\": 1,\n      \"binary\": 1,\n      \"document_id\": 1,\n      \"chunk_index\": 1,\n      \"score\": { \"$meta\": \"vectorSearchScore\" }\n    }\n  }\n];\n\n// Return the pipeline\nreturn [{\n  json: {\n    pipeline: pipeline\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -832,
        480
      ],
      "id": "8ddf6207-5b1d-4ba1-980c-46569e98776e",
      "name": "Build Mongo Query1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fbfaf978-e3af-4fed-a010-69f577cc43f5",
              "name": "numCandidates",
              "value": "33",
              "type": "string"
            },
            {
              "id": "1b42e1a9-b5ca-4d90-9a91-1ff1b7416bf2",
              "name": "limit",
              "value": "5",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1040,
        480
      ],
      "id": "bddeb9b2-1ed3-4fdb-8d50-f59ce898f985",
      "name": "Set Parameters"
    }
  ],
  "pinData": {},
  "connections": {
    "Knowledge Base Agent": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Knowledge Base Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Cohere Reranker": {
      "main": [
        [
          {
            "node": "Map Reranker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Cohere Reranker": {
      "main": [
        [
          {
            "node": "Cohere Reranker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Reranker": {
      "main": [
        [
          {
            "node": "Split Text and Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text": {
      "main": [
        [
          {
            "node": "Knowledge Base Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Images": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Text and Images": {
      "main": [
        [
          {
            "node": "Text",
            "type": "main",
            "index": 0
          },
          {
            "node": "Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Aggregate documents": {
      "main": [
        [
          {
            "node": "Prepare Cohere Reranker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Voyage-3-Context Embeddings QUERY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Voyage-3-Context Embeddings QUERY": {
      "main": [
        [
          {
            "node": "Set Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Mongo Query1": {
      "main": [
        [
          {
            "node": "Aggregate documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Parameters": {
      "main": [
        [
          {
            "node": "Build Mongo Query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7567884e-b88e-44ec-86c5-dc3f4c04c095",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bc4da6ef838056bbed43842c4a9cb1f510baa76378e5fe5ae3a1913068699a33"
  },
  "id": "vBaoPxJCBEkDMti5",
  "tags": [
    {
      "createdAt": "2025-11-10T21:39:59.946Z",
      "updatedAt": "2025-11-10T21:39:59.946Z",
      "id": "3fYwXuGQVKXjbX6Q",
      "name": "notcool"
    }
  ]
}